.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 30000000;
  background-color: rgb(0, 0, 0);
  align-items: center;
}
.spinner img{
  height: 100px !important;
}
